// cdk-list {
	.list-header {
		background-color: #29a48f;
		color: white;
		padding: 0 5px;
	}
	.list-container {
		padding: 5px 15px 15px 15px;
		// color: white;
	}
// }
.example-panel-red .mat-select-content {
  background: #29a48f;
}

.example-panel-green .mat-select-content {
  background: #29a48f;
}

.example-panel-blue .mat-select-content {
  background: #29a48f;
}
.select-component-holder {
	border: 1px solid #29a48f;
	background-color: white;

	h4 {
		color: #29a48f;
		margin: 14px 0;
	}

	mat-divider {
		margin-bottom: 10px;
	}
}

.selectcls
{
	width:70%;
}

.adddivdata
{
  flex-direction: row;
    box-sizing: border-box;
    display: flex;
}

.adddiv
{
  padding: 21px;
	border: 1px solid #ccc;
  border-radius: 11px;
  margin-top:10px
}

$color__inactive: #616161;
$color__primary: #3F51B5;
$color__read: #9F9F9F;
$color__checkbox__star: #616161;

$height__search__title: 56px;
$margin-top__search__title: 42px;

:host {
  display: block;
  position: relative;
  height: 100%;
}

.inbox {
    background-color: white;

.header {
    min-height: 200px;
    max-height: 200px;
    background: #039be5 url('/assets/bg20.jpg') no-repeat center center fixed;
    background-size: cover;
}
.footer {
    width: 100%;
    padding: 20px 0px ;
    text-align: center;
    h6 {
        margin: 5px 0 0 0 !important;
    }
}

  .container {
    margin-top: -200px;
    max-height: 100%;
    box-sizing: border-box;
    height: 100%;
  }

  .navigation {
    padding: $margin-top__search__title 24px 0;

    .title-container {
      min-height: $height__search__title;
      max-height: $height__search__title;
      padding-left: 16px;
      padding-right: 16px;
      color: white;
      font-size: 28px;

      mat-icon {
        margin-right: 4px;
        height: 24px;
        width: 24px;
        font-size: 24px;
        vertical-align: sub;
      }

      .title {
        vertical-align: middle;
      }
    }

    .compose-container {
      margin: 52px 16px 0 12px;

      .compose {
        padding-left: 20px;
        padding-right: 32px;
        width: 100%;

        mat-icon {
          margin-right: 10px;
        }
      }
    }

    .nav-list {
        margin-top: 28px;
        height: 400px; overflow-y: auto;

      .nav-item {
        color: $color__inactive;
        margin: 8px 0;

        .nav-title {

          .icon {
            margin-right: 12px;
            font-size: 22px;
            width: 22px;
            height: 22px;
          }

          .text {
            font-size: 14px;
          }

          .icon, .text {
            font-weight: 500;
            vertical-align: middle;
          }
        }

        &.active {
          color: #3F51B5;
        }
      }
    }

    mat-divider {
      margin: 0 16px;
    }
  }

  .content-container {
    max-width: 100%;
    height: 100%;

    .search {
      margin-top: $margin-top__search__title;
    }

    .mails-container {
      margin-top: 43px;
      background: white;
      position: relative;
      height: 100%;
    }
  }
}

.deletebtn
{
  display: block !important;
  text-align: right;
}

.imgselect
{
  width: 100px;
  height: auto;
  padding: 4px;
  border: 1px solid #ccc;
  border-radius: 5px;
}


.cstmbox
{
  padding: 15px;
    background: #fff;
    -webkit-box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.25);
    box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.25);
    border-radius: 10px;
}

.img-wrap
{
  padding-top:20px;
}

.imgcontain
{
  width: 110px;
  position: relative;
}

.imgcontain span
{
  position: absolute;
  right: 1px;
  top: -5px;
}
.cdk-drag-placeholder {
  background-color: Highlight;
}
.numdata
{
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background: #3fd3c7;
  vertical-align: middle;
  text-align: center;
  line-height: 30px;
  font-weight: bold;
  color: #fff;
  margin-top: 0;
  margin-bottom: 0;
}

@media only screen and (min-width: 1280px) {
  .inbox {
    .content-container {
      max-width: calc(100% - 290px); // 250px sidebar + 40px margin
    }
  }
}

.example-list {
  //width: 500px;
  max-width: 100%;
  border: solid 1px #ccc;
  min-height: 60px;
  display: block;
  background: white;
  border-radius: 4px;
  overflow: hidden;
}

.example-box {
  padding: 20px 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
