<div id="forms" class="page-layout simple fullwidth" fxLayout="column">

	<div class="header accent p-24 h-60" fxLayout="row" fxLayoutAlign="center center" fxLayout.gt-xs="row"
		fxLayoutAlign.gt-xs="space-between center">

		<div class="logo mb-18 mb-sm-0" fxLayout="row" fxLayoutAlign="start center">
			<mat-icon class="logo-icon">
				edit
			</mat-icon>
			<span class="logo-text h1 p-8">
				Update Training Item
			</span>
		</div>
		<button mat-raised-button matTooltip="Training Items"
			[routerLink]="['/training/viewtrainingitem',rootproductid]">Back</button>
	</div>


	<!-- / HEADER -->

	<!-- CONTENT -->
	<div class="content p-24">

		<div class="mb-24" fxLayout="column" fxLayoutAlign="start" fxLayout.gt-md="row">
			<ngx-loading [show]="loading"
				[config]="{animationType: ngxLoadingAnimationTypes.circleSwish, primaryColour: primaryColour, backdropBorderRadius: '3px'}"
				[template]="loadingTemplate"></ngx-loading>
			<!-- REACTIVE FORM EXAMPLE -->
			<form class="mat-card mat-elevation-z4 p-24 mr-24" fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto"
				[formGroup]="userForm" enctype="multipart/form-data" method="post">
				<div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="20px">

					<div fxFlex.xs="100" fxFlex.lg="50" fxFlex.md="50" fxFlex.sm="50">
						<!-- <h4  class="mat-subheading-2 center-align">Title</h4> -->

						<mat-form-field class="example-full-width selectcls">
							<input matInput placeholder="Title" id="title" formControlName="title">
						</mat-form-field>
					</div>
				</div>
				<mat-radio-group fxLayout="column" fxLayoutGap=10px formControlName="filetyperadio">
					<div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="20px">

						<div fxFlex.xs="100" fxFlex.lg="50" fxFlex.md="50" fxFlex.sm="50" class="cstmbox">
							<!-- <h4  class="mat-subheading-2 center-align">Title</h4> -->

							<mat-radio-button class="example-margin" value="Image" #showingmainimage>
								Image
							</mat-radio-button>

							<a *ngIf="showingmainimage.checked" mat-button color="warn" class="add-file-button"
								(click)="fileInput1.click()" aria-label="Add file" style="float:right">
								Add Image
							</a>

							<input id="cin" hidden name="cin" #fileInput1 type="file"
								accept=".jpg,.jpeg,.png,.raw,.tiff" (change)="imageChangeEvent($event)"
								placeholder="Upload a file..." multiple formControlName="itemdataimage" />



							<div *ngIf="showingmainimage.checked" class="remember-me" class="img-wrap">
								<img *ngIf="mainimageurls" [src]="mainimageurls"
									style="width: 100px;height: auto;padding: 4px;border: 1px solid #ccc;border-radius: 5px;">

								<img *ngIf="imageurls" [src]="imageurls"
									style="width: 100px;height: auto;padding: 4px;border: 1px solid #ccc;border-radius: 5px;">



							</div>

						</div>

						<div fxFlex.xs="100" fxFlex.lg="50" fxFlex.md="50" fxFlex.sm="50" class="cstmbox">
							<mat-radio-button class="example-margin" value="Video" #showinghiding>
								Video
							</mat-radio-button>
							<mat-form-field *ngIf="showinghiding.checked" class="example-full-width selectcls">
								<input matInput placeholder="Enter Video Link" formControlName="vimeolink">
							</mat-form-field>

							<mat-error *ngIf="userForm.get('vimeolink').hasError('required')">

							</mat-error>
						</div>

					</div>
					<span id="filetypeerror" style="color:red"></span>
				</mat-radio-group>

				<br>

				<div>

				</div>


				<div>

					<h4 class="mat-subheading-2 center-align">Steps</h4>
					<mat-divider></mat-divider>
					<!-- Multistep div -->
					<!-- <div class="row" id="sortable"  dnd-sortable-container [dropZones]="['boxers-zone']" [sortableData]="userForm.get('trainingitems')['controls']"> -->
					<div>
						<div class="row" id="itemdatatest" #scrollEl cdk-scrollable
							style="height:600px; overflow-y:scroll">
							<div class="elements example-list" formArrayName="trainingitems" cdkDropList
								(cdkDropListDropped)="drop($event)">
								<!-- <div *ngFor="let ctrl of userForm.get('trainingitems')['controls']; let i = index" [formGroupName]="i" class="adddiv draggable" id="itemdata{{i}}" 
						dnd-sortable [sortableIndex]="i"> -->
								<div *ngFor="let ctrl of userForm.get('trainingitems')['controls']; let i = index"
									[formGroupName]="i" class="adddiv example-box" id="itemdata{{i}}" cdkDrag>
									<div class="adddivdata" id="itemdt{{i}}" style="width:100%">

										<div class="numindex" style="width:5%">
											<p class="numdata">{{i+1}}</p>
										</div>
										<div style="width: 38%;">

											<mat-form-field class="example-full-width selectcls">
												<input matInput placeholder="Name" formControlName="itemname">
											</mat-form-field>
										</div>




										<mat-radio-group fxLayout="column" fxLayoutGap=10px
											formControlName="fileradiotype" style="width: 53%;">

											<div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="20px">

												<div fxFlex.xs="100" fxFlex.lg="50" fxFlex.md="50" fxFlex.sm="50"
													class="cstmbox">
													<!-- <h4  class="mat-subheading-2 center-align">Title</h4> -->

													<mat-radio-button class="example-margin" value="Image"
														#showingitemimg>
														Image
													</mat-radio-button>

													<a *ngIf="showingitemimg.checked" mat-button color="warn"
														class="add-file-button" (click)="fileInput1.click()"
														aria-label="Add file" style="float:right">
														Add Image
													</a>

													<input id="cin" hidden name="cin" #fileInput1 type="file"
														accept=".jpg,.jpeg,.png,.raw,.tiff"
														(change)="fileChangeEvent($event,i)"
														placeholder="Upload a file..." formControlName="itemimage" />

													<div *ngIf="showingitemimg.checked" class="remember-me"
														class="img-wrap">
														<div class="imgcontain">
															<!-- <span *ngIf="urls[i]" class="close" (click)="close(urls,$event,$index,i)">&times;</span> -->
															<img *ngIf="urls[i]" [src]="urls[i]" class="imgselect">
														</div>

													</div>

												</div>

												<div fxFlex.xs="100" fxFlex.lg="50" fxFlex.md="50" fxFlex.sm="50"
													class="cstmbox">
													<mat-radio-button class="example-margin" value="Gif" #showinggif>
														GIF
													</mat-radio-button>
													<mat-form-field style="margin-left: 6%;" *ngIf="showinggif.checked"
														class="example-full-width selectcls">
														<input matInput placeholder="GIF URL" formControlName="gifurl">
													</mat-form-field>
												</div>

											</div>
											<span id="typeerror{{i}}" style="color:red"></span>
										</mat-radio-group>

										<div fxFlex fxLayout="column" fxLayoutAlign="end stretch" *ngIf="i != '0'">
											<div fxLayout="row" fxLayoutAlign="space-between stretch" class="deletebtn">

												<button mat-mini-fab color="warn"
													(click)="removeTrainingItems(i,ids[i],orders[i])">
													<mat-icon class="mat-icon ng-tns-c63-105 material-icons" role="img"
														aria-hidden="true">delete_outline</mat-icon>
												</button>
											</div>
										</div>

										<br>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div fxFlex fxLayout="column" fxLayoutAlign="end stretch">
					<div fxLayout="row" fxLayoutAlign="space-between stretch">

						<button mat-mini-fab color="primary" (click)="onTrainingItems()" style="margin-top: 10px;">
							<mat-icon class="mat-icon ng-tns-c63-105 material-icons" role="img" aria-hidden="true">add
							</mat-icon>
						</button>
					</div>
				</div>
				<br>
				<!-- Submit button -->
				<div fxFlex fxLayout="column" fxLayoutAlign="end stretch">
					<div fxLayout="row" fxLayoutAlign="space-between stretch">
						<button mat-raised-button
							[routerLink]="['/training/viewtrainingitem',rootproductid]">BACK</button>


						<button mat-raised-button color="primary" [disabled]="!userForm.valid" type="submit"
							(click)="updateTrainingItem()">SUBMIT</button>
					</div>
				</div>
			</form>
		</div>
	</div>
	<!-- / CONTENT -->

</div>